## .NET 构建产物
[Bb]in/
[Oo]bj/
publish/
out/

## IDE
.vs/
.vscode/
.idea/
.zcode/
*.user
*.suo
*.sln.docstates

## 日志与临时文件
*.log
*.tmp
Thumbs.db
## Go
*.exe
*.exe~

# 奥日与迷失森林终极版风灵月影修改器
!/Ori and the Blind Forest Definitive Edition v1.0 Plus 13 Trainer.exe
